table{
  border-collapse: collapse;
   /*убираем пустые промежутки между ячейками*/
   border: 0.25px solid rgba(128, 128, 128, 0.3);
}

td{
  padding: 5px;
  border: 0.25px solid rgba(128, 128, 128, 0.3);
}

.main__table {
  background-color: rgba(222, 184, 135, 0.657);
}

.table1{
  background-color: rgba(95, 255, 95, 0.454);
}

.table2{
  background-color: hotpink;
}

button{
  margin: 10px; 
  padding: 4px;
}